#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  width: 500px;
  padding: 1rem;
  background-color: lightgreen;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  text-shadow: 0px 0px 5px gray;
}

.card-img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  background-color: white;
  border-radius: inherit;
  box-shadow: inherit;
}